.featured {
    display: flex;
    justify-content: space-around;

    &__title {
        font-size: 36px;
        @include primary-font;
        font-weight: 100;
    }
    &__subtitle {
        font-size: 14px;
        @include secondary-font;

    }
}

.featured__card {
    width: 24%;
}