.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    font-family: 'Inter';
    

    &__img {
        width: 90px;
    }

    &__nav {
        width: 20%;
        display: flex;
        justify-content: space-around;
    }

    &__link {
        font-size: 14px;
        text-decoration: none;
        margin: 0% 2%;
        color: black;
    }

    &__cart {
        text-decoration: none;
        color: black;
    }
}